:root {
    --first-color: #0A3871;
    --second-color: #D8DFE8;
    --grey-dark-color: #495057;
    --sm: 12px;
    --md: 18px;
    --lg: 24px;
}

* {
    background-color: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 3%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: var(--firts-color);
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color:var(--first-color); }
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: white;
    background-image: url("../img/nene.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--first-color);
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.informacion {
    color: var(--grey-dark-color);
    font-size: 18px;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background: var(--second-color);
    border: 1px solid var(--first-color);
    border-radius: 24px;
    color: var(--first-color);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 336px;
}

.btn-copiar {
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 24px;
    color: var(--first-color);
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.copyright {
    color: var(--grey-dark-color);
    font-size: var(--sm);
    text-align: center;
}

.copyright a {
    color: var(--grey-dark-color);
    font-size: var(--sm);
}


@media screen and (max-width: 600px) {
    .logo {
        width: 10%;
    }

    main {
        display: block;
        margin: auto;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .text-area {
        width: 98%;
        padding: auto;
    }

    .botones {
        height: 1.7rem;
        margin-top: 0;
    }

    .btn-encriptar {
        height: auto;
        width: 49%;
        font-size: var(--sm);
    }
    
    .btn-desencriptar {
        height: auto;
        margin-left: auto;
        width: 49%;
        font-size: var(--sm);
    }

    .content-mensaje {
        width: 95%;
        height: auto;
    }

    .mensaje {
        margin: 20px auto;
        padding: auto;
        position: relative;
        object-fit: contain;
        width: 90vw;
    }

    .btn-copiar {
        height: 2rem;
        margin-left: auto;
        margin-top: auto;
        position: relative;
        width: 100%;
        font-size: var(--lg);
    }
}


@media screen and (min-width: 601px) and (max-width: 996px) {
    main {
        flex-direction: column;
        margin-left: 1rem;
    }
}